// genres badge color
.badge-purple {
    background-color: $myPurple;
    padding: 10px;
}

// custom background color
.bg-pale {
    background-color: $myWhite;
}

// welcome buttons colors & hovers
.btn-orange {
    background-color: $logoColor;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($logoColor, 15%);
    }
}
.btn-purple {
    background-color: $myPurple;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myPurple, 15%);
    }
}
.btn-petrol {
    background-color: $myPetrol;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myPetrol, 15%);
    }
}
.btn-wine {
    background-color: $myWine;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myWine, 15%);
    }
}
.btn-pink {
    background-color: $myPink;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myPink, 15%);
    }
}
.btn-yellow {
    background-color: $myYellow;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myYellow, 15%);
    }
}
.btn-green {
    background-color: $myGreen;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: darken($myGreen, 15%);
    }
}


// title colors 
.title-purple {
    color: $myPurple;
}
.title-yellow {
    color: $myYellow;
    font-weight: bold;
}
.title-pink {
    color: $myPink;
    font-weight: bold;
}
.title-green {
    color: $myGreen;
    font-weight: bold;
}
.title-petrol {
    color: $myPetrol;
    font-weight: bold;
}
.title-wine {
    color: $myWine;
    font-weight: bold;
}
.title-orange {
    color: $logoColor;
    font-weight: bold;    
}
.register-link.title-orange {
    transition: all .5s ease-in-out;
    &:hover{
        color: $logoColor;
        transform: scale(0.8);
    }
}

.title-orange {
    &:hover {
        color: darken($logoColor, 15%);
    }
}
.btn-orange {
    &:hover {
        background-color: darken($logoColor, 15%);
    }
}
// login/register links
.login-link {
    background-color: $logoColor;

    &:hover {
        background-color: darken($logoColor, 15%);
    }
}
.register-link {
    border: 1px solid $logoColor;
    background-color: transparent;
}

// sponsorships colors
.gold {
    color: $gold;
}
.platinum {
    color: darken($platino, 5%);
}
.diamond {
    color: $myWhite;
}

.star {
    color: $myYellow;
}

.myHover {
    transition: all .3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.pattern {
    background-image: url("/images/pattern3.jpg");
    background-size: cover;
    background-position: center top;
    height: 200px;
}
  
.profile-img {
    border-radius: 10px;
    height: 200px;
    width: auto;
}

.myContainer{
    position: relative;
}

.position {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.pt-300 {
    padding-top: 100px;
}

.sponsor-size {
    font-size: .9rem;
}

.myCard {
    width: calc(100% / 3);
}

// .VueCarousel-dot {
//     color: $logoColor;
// }

// .VueCarousel-dot--active {
//     color: lighten($logoColor, 10%);
// }

// .prova {
//     background-image: url('https://i.pinimg.com/originals/bd/c8/2b/bdc82b2585b05b9309d717df84ce1916.png');
//     background-size: cover;
//     background-repeat: no-repeat;
// }