// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$logoColor: #ec5e25;
// $logoColor: rgba(236, 93, 37, 0.363);
$myPink: #f08799;
$myPurple: #301a47;
$myYellow: #f7af1a;
$myPetrol: #08a38f;
$myWine: #671649;
$myWhite: #eceff5;
$myGreen: #68ba93;
$bgNav: #fefefe;
$bgJumbo: #fefefe;

$gold: #d4af37;
$platino: #8b9396;

