// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';
@import 'general';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'RocknRoll One', sans-serif;
}

.badge-purple {
    background-color: $myPurple;
    padding: 10px;
}

.btn-orange {
    background-color: $logoColor;
}
.btn-purple {
    background-color: $myPurple;
}
.btn-petrol {
    background-color: $myPetrol;
}
.btn-wine {
    background-color: $myWine;
}
.btn-pink {
    background-color: $myPink;
}
.btn-yellow {
    background-color: $myYellow;
}
.btn-green {
    background-color: $myGreen;
}

.title-purple {
    color: $myPurple;
}
.title-yellow {
    color: $myYellow;
    font-weight: bold;
}
.title-pink {
    color: $myPink;
    font-weight: bold;
}
.title-green {
    color: $myGreen;
    font-weight: bold;
}
.title-petrol {
    color: $myPetrol;
    font-weight: bold;
}
.title-wine {
    color: $myWine;
    font-weight: bold;
}


.login-link {
    background-color: $logoColor;
}
.register-link {
    border: 1px solid $logoColor;
    background-color: transparent;
}

.bg-pale {
    background-color: $myWhite;
}
