// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'general.scss';
@import 'sponsorships.scss';

body {
    font-family: 'RocknRoll One', sans-serif;
    // background-color: darken(#dfe6ef, 7%);
    background-color: lighten(#e2dcd9, 5%);
}


.bg-jumbotron {
  background-color: $bgJumbo;
}

.bg-nav {
  background-color: $bgNav;
}
.headline {
  font-size: 3.5rem;
  max-width: 30%;
}
.clamp-size {
  font-size: clamp(.8rem, 1rem + 10vw, .5rem);
}






